@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.cliped-shape {
  clip-path: polygon(0% 0%, 100% 0, 100% calc(100% - 6vw), 0 100%, 0 100%);
  margin-bottom: -6vw;
}

.content-wrapper p {
  @apply mt-3;
}

.content-wrapper h5 {
  @apply text-xl font-medium mt-3;
}

.content-wrapper ol {
  @apply list-decimal grid gap-y-3 mt-3;
}
