{{ define "main" }}

<div
  class="px-2 sm:px-4 md:px-8 lg:px-16 xl:px-32 2xl:px-48 pt-8 pb-16 bg-white"
>
  <div class="mb-4">
    <a
      href="/"
      class="capitalize block mt-5 text-blue-500 underline hover:no-underline transition-all"
    >
      back to home
    </a>
  </div>

  <div>
    <img
      src="/images/book1-img.jpg"
      alt="book-cover"
      class="h-[300px] sm:h-[400px] 2xl:h-[450px] w-full object-cover rounded"
    />
  </div>

  <div class="mt-4">
    <h3 class="text-2xl sm:text-3xl font-semibold tracking-wider">
      {{.Title}}
    </h3>

    <section>
      <h4 class="text-xl font-medium">Main Theme</h4>

      <p class="mt-3">{{.Content}}</p>

      <h5 class="text-xl font-medium mt-3">
        What are the top 3 concepts that the book discusses?
      </h5>

      <p class="my-3">
        The book "A Philosophy of Software Design" covers many important
        concepts related to software design. However, if I had to pick the top 3
        concepts discussed in the book, they would be:
      </p>

      <ul class="list-decimal grid gap-y-3">
        <li>{{ .Params.discussions.first }}</li>

        <li>
          Abstraction: Abstraction involves hiding implementation details behind
          a simpler interface, which can make it easier to reason about and
          modify code. The book discusses how to identify and create good
          abstractions, as well as how to avoid over-abstraction.
        </li>

        <li>
          Simplification: The book emphasizes the importance of keeping software
          simple and avoiding unnecessary complexity. Ousterhout argues that
          simplicity can make it easier to reason about and modify code, and can
          also reduce the likelihood of bugs and other errors. The book
          discusses various techniques for simplifying code, such as reducing
          redundancy, minimizing the number of code paths, and using simpler
          data structures.
        </li>
      </ul>
    </section>

    <a
      href="https://a.co/d/isLpTjX"
      target="_blank"
      class="capitalize block mt-5 text-blue-500 underline hover:no-underline transition-all"
    >
      buy on amazon
    </a>
  </div>
</div>
{{ end }}
