<div
  class="h-full content-start border-[1px] border-gray-200 rounded p-2 cursor-pointer hover:scale-105 hover:border-transparent transition-transform duration-300"
>
  <div class="mb-2">
    <img
      src="{{.image}}"
      alt="book-image"
      class="h-[180px] rounded w-full object-cover"
    />
  </div>

  <h3 class="font-medium">
    <a href="{{.fileName}}">{{.title}}</a>
  </h3>

  <a href="{{.fileName}}" class="text-sm text-blue-500 hover:underline transition-all"
    >Read more</a
  >
</div>
